.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 320px;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  background-color: var(--bg-secondary);

  margin: 5rem;

  span {
    font-size: 20px;
  }

  input {
    font-size: var(--fs-300);
    width: 100%;
    outline: 0;
    border: 0;
    color: inherit;
    background-color: transparent;

    &::placeholder {
      color: inherit;
    }
  }
}
