:root {
  --clr-primary: hsl(200, 15%, 8%);
  --clr-secondary: hsl(0, 0%, 52%);

  --bg-primary: hsl(0, 0%, 98%);
  --bg-secondary: hsl(0, 0%, 100%);

  --fs-400: 16px;
  --fs-300: 14px;
}

.dark {
  --clr-primary: hsl(0, 0%, 100%);
  --clr-secondary: hsl(0, 0%, 98%);

  --bg-primary: hsl(207, 26%, 17%);
  --bg-secondary: hsl(209, 23%, 22%);
}
