@forward "variables";
@forward "normalize";
@forward "header";
@forward "country-card";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

html {
  min-width: 375px;
}

.app {
  min-height: 100vh;
  color: var(--clr-primary);
  background: var(--bg-primary);

  transition: all 0.5s ease;
}

.container {
  max-width: 1300px;
  margin-inline: auto;
}
