@forward "variables";
@forward "normalize";
@forward "header";
@forward "home";
@forward "country-details";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

html {
  min-width: 375px;
}

.app {
  min-height: 100vh;
  color: var(--clr-primary);
  background: var(--bg-primary);
  transition: color 0.5s ease, background 0.5s ease;
}

.container {
  max-width: 1300px;
  margin-inline: auto;
}

.not-found {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 5rem;
}

a {
  text-decoration: none;
  color: inherit;
}
